@import "styles/variables";

.container {
  width: 100%;
  padding: 80px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  cursor: none;
  //   overflow-x: clip;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #fceb4e;
    z-index: -1;
  }

  @keyframes floating {
    0% {
      transform: translate(5px, -10px);
    }

    50% {
      transform: translate(0px, 0px);
    }

    100% {
      transform: translate(5px, -10px);
    }
  }

  .spaceship {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-30px, -30px) scale(0);
    transition: transform 500ms;

    .inner {
      padding: 20px;
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 40px;
      background-color: #000;
      animation: floating linear infinite 2s forwards;
    }
  }

  .heading {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    span {
      font: inherit;
      color: white;
      text-shadow: 5px 4px 3px #000;
    }
  }
}
